.cart-popup {
  width: 50vw;
  background-color: rgb(135, 135, 135); /* 半透明の背景 */

  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  height: auto;
  display: flex;
  justify-content: center;
  z-index: 1000; /* 他の要素より前に表示 */
  /* background-color: rgba(0, 0, 0, 0.5); 半透明の背景 */
}

.cart-popup-body {
  padding: 20px;
  overflow-y: auto; /* 縦方向にスクロール可能にする */
  max-height: calc(80vh - 40px); /* ポップアップ全体の高さを考慮 */
}

.cart-close-button {
  position: absolute;
  top: 10px; /* 上から10pxの位置 */
  right: 10px; /* 右から10pxの位置 */

  z-index: 10; /* 他の要素より前に表示 */
}

.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #2196f3;
  color: white;
}

.close-popup-button {
  background: none;
  border: none;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}

.order-list {
  padding: 10px;
}

.order-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.order-item-img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.cart-footer {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ccc;
}

.confirm-button {
  padding: 5px 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
