.order-card {
  display: flex;
  align-items: center;
  background-color: #1e1e1e;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: white;
}

.order-img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 10px;
}

.order-details {
  flex: 1;
}

.order-name {
  font-size: 1.2rem;
  margin: 0;
}

.order-price {
  margin: 5px 0;
  color: #ccc;
}

.quantity-control {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.quantity-button {
  padding: 5px 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 5px;
}

.quantity-button:hover {
  background-color: #45a049;
}

.quantity {
  font-size: 1.2rem;
  color: white;
}

.remove-button {
  padding: 5px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.remove-button:hover {
  background-color: #d32f2f;
}
.fixed-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #000;
  padding: 10px 20px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  z-index: 1000;
}

.fixed-footer h2 {
  margin: 0;
}

.confirm-button {
  padding: 10px 20px;
  background-color: #2196f3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px; /* 合計金額との間隔を調整 */
}

.confirm-button:hover {
  background-color: #1976d2;
}
