body {
    font-family: "メイリオ", sans-serif;
    margin: 0em 0em;
}

.title {
    padding: 0;
    margin: 0;
    border: 0;
    color: #ffffff;
    background: #313131;
    height: 7vh;
    position: relative;
}

.title .title_text {
    margin-left: 1vh;
    margin-top: 1vh;
    font-size: 4vh;
    position: absolute;
}

.login {
    padding: 0em 0em;
    margin-top: 10vh;
    margin-left: 20vw;
    width: 60vw;
    margin-bottom: 4%;
    border: solid 0.2vw #000000;
    border-radius: 1vw;
}

.login_btn {
    font-size: 1.4em;
    margin-left: 20vw;
    width: 20vw;
    height: 6vw;
    background-color: #3ac157;
    color: #FFFFFF;
    border: #3ac157 0.2vw solid;
    border-radius: 1vw;
}


.login_btn:hover {
    cursor: pointer;
    opacity: 0.7;
}

.qr_btn {
    margin-top: 0;
    width: 14vh;
    height: 7vh;
    background-color: #313131;
    color: #ffffff;
    border-left: #868686 0.2vw solid;
}

.qr_btn:hover {
    cursor: pointer;
    opacity: 0.7;
}

.add_btn {
    margin-top: 1vw;
    width: 10em;
    height: 3em;
    background-color: #3ac157;
    color: #FFFFFF;
    border: #3ac157 0.2vw solid;
    border-radius: 1vw;
}

.add_btn:hover {
    cursor: pointer;
    opacity: 0.7;
}

.box1 {
    margin: 0;
    padding:0;
    border: 0;
    left:20vw;
    top:7vh;
    width: 80vw;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 73vh;
    background-color: #777777;
    position: absolute;
}

.box2 {
    margin-top: 1vw;
    margin-left: 1vw;
    margin-right: 1vw;
    width: 48%;
    padding: 0;
    overflow: hidden;
    height: 13vh;
    font-size: 6vh;
    background-color: #ffffff;
    position: relative;
    border-radius: 1vw;
}

.box2:hover {
    cursor: pointer;
    opacity: 0.7;

}

.boxtag {
    margin: 0;
    padding: 0;
    border: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    top:7vh;
    left:0;
    height: 73vh;
    width: 20vw;
    background-color: #777777;
    position: absolute;
}

.box4 {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    padding-left: 1vw;
    padding-top: 0;
    overflow: hidden;
    height: 8vh;
    font-size: 6vh;
    background-color: #dcd7ff;
    position: relative;
    border-bottom: #777777 0.2vw solid;
}

.box4:hover {
    cursor: pointer;
    background-color: #333377;
/*     opacity: 0.7; */

}


.imgbtn:hover {
    cursor: pointer;
    opacity: 0.7;
}


.form_item{
    margin: 0;
    border: 0;
    position: absolute;
    width: 80vw;
    height: 20vh;
    bottom: 0;
    left:20vw;
    background-color: #cbcbcb;
}

.form_tag{
    margin: 0;
    border: 0;
    position: absolute;
    width: 20vw;
    height: 20vh;
    bottom: 0;
    left: 0;
    background-color: #c8e8d8;
}